.collapsible .content {
  padding: 20px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #212529;
  padding: 10px;
  cursor: pointer;
  color: #66ccff;
  outline: 3px solid #000000;
}
