.columns {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.sectionTitles {
  background: #212529;
  color: lightgray;
}

.sectionTitlesText {
  font-weight: 300;
  color: #66ccff;
  font-size: 35px;
  font-family: "Trebuchet MS";
  margin-left: 15px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  padding-bottom: 10px;
}
